<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misión y Visión</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener los estilos enlazados -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
        <!-- views/quienes-somos.handlebars -->
    <section class="contacto">
        <div class="container">
            <h1 class="section-title">CONTÁCTENOS</h1>
        </div>
        <!-- Sección de Bogotá -->
        <div class="row mt-4">
            <div class="col-md-3 p-5">
                <h2 class="sub-title">BOGOTÁ:</h2>
                <div class="info-box">
                    <p>Calle 86 No 112-21<br>
                    OF: 204<br>
                    Teléfonos: (57-1)7021526<br>
                    3503250604</p>
                </div>
                
            </div>
        </div>

        <!-- Sección de Gerencia -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-4 text-center">
                <h3 class="gerencia-title">GERENCIA</h3>
                <div class="info-box mt-2">
                    <p>Correo: construccionesomarosas@gmail.com <br> Teléfono: 3186503133</p>
                </div>
            </div>
        </div>
    </section>


</body>
</html>



