<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misión y Visión</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener los estilos enlazados -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
        <!-- views/quienes-somos.handlebars -->
    <section class="datos">
        <div class="contact-container">
        <h1 class="h1-datos">Contacto</h1>
        <h2>Formulario de Contacto</h2>
        <form action="/send-data" method="POST" class="contact-form">
            <div class="form-group">
                <input type="text" name="nombre" placeholder="Nombre" required>
                <input type="text" name="telefono" placeholder="Teléfono" required>
            </div>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="asunto" placeholder="Asunto" required>
            <textarea name="mensaje" rows="5" placeholder="Mensaje" required></textarea>
            <div class="form-buttons">
                <button type="submit" class="btn-enviar">ENVIAR</button>
            </div>
        </form>
    </div>
    </section>


</body>
</html>

