<section class="main-background">
    <div class="container">
        <h1 class="display-4">Encuentra lo Mejor Para ti y tu Familia</h1>
        <p>Conoce nuestros Servicios Adecuados a Tu Necesidad</p>
        <a href="/datos" class="btn btnIndex btn-lg">Déjanos tus datos</a>
        <a href="/servicios" class="btn btn-danger btn-lg">Nuestros Servicios</a>
    </div>
</section>
