<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misión y Visión</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener los estilos enlazados -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Sección de Misión -->
    <section class="mission-vision-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 text-center mission">
                    <h2>Misión</h2>
                    <p>Contribuir en el desarrollo continuo de nuestro entorno, a través de la construcción, dirección y gerencia de obras civiles, teniendo en cuenta el ordenamiento social y ambiental.</p>
                </div>
                <div class="col-lg-6 mission-image">
                    <img src="/img/Imagen8.jpg" alt="Imagen Misión" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Visión -->
    <section class="mission-vision-section vision-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 mission-image">
                    <img src="/img/Imagen7.png" alt="Imagen Visión" class="img-fluid">
                </div>
                <div class="col-lg-6 text-center vision">
                    <h2>Visión</h2>
                    <p>Tener un reconocimiento en el mercado constructor a nivel nacional e internacional resaltando la calidad, cumplimiento y responsabilidad de nuestros servicios.</p>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
