<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misión y Visión</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener los estilos enlazados -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
        <!-- views/quienes-somos.handlebars -->
    <section class="servicios">
        <div class="container">
            <h1 class="section-title">POLÍTICAS</h1>
        </div>
        <div class="container mt-5"></div>
            <h2 class="sub-title-policy text-center mx-auto w-25">HSEQ.</h2>
            
        </div>

        <div class="container mt-2"></div>
            <h2 class="sub-title-policy text-center mx-auto w-25">EPP.</h2>
        </div>

        <div class="container mt-2"></div>
            <h2 class="sub-title-policy text-center mx-auto w-50">SEGURIDAD VIAL.</h2>
        </div>

        <div class="container mt-2"></div>
            <h2 class="sub-title-policy text-center mx-auto w-50">PROVEEDORES.</h2>
        </div>

        <div class="container mt-2"></div>
            <h2 class="sub-title-policy text-center mx-auto w-75">CONFIDENCIALIDAD.</h2>
        </div>

        <div class="container mt-2"></div>
            <h2 class="sub-title-policy text-center mx-auto w-75">ALCOHOL, DROGAS Y TABAQUISMO.</h2>
        </div>

        <div class="container mt-2"></div>
            <h2 class="sub-title-policy text-center mx-auto">TRANSPARENCIA Y DERECHOS HUMANOS.</h2>
        </div>
    </section>

</body>
</html>



