<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misión y Visión</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener los estilos enlazados -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
        <!-- views/quienes-somos.handlebars -->
    <section class="quienes-somos">
        <div class="container">
            <h1 class="section-title">QUIÉNES SOMOS</h1>
            <div class="info-box">
            <p><strong>CONSTRUCCIONES OMARO S.A.S .,</strong> es una empresa que se destaca en la Construcción, adecuación, montaje y mantenimiento de obras civiles, eléctricas y mecánicas en edificaciones, estaciones de telecomunicaciones, Construcción, adecuación y mantenimiento de parques biosaludables, temáticos y escenarios deportivos. a nivel Nacional.</p>
            </div>
            <div class="info-box">
            <p>Contamos con un calificado grupo de profesionales, técnicos y operarios, que aportan su conocimiento, experiencia y trayectoria, constituyendo una de las mejores empresas del sector económico en el cual desarrollamos nuestra labor. En <strong>CONSTRUCCIONES OMARO S.A.S</strong> brindamos el mejor servicio a nuestros clientes, apoyados con tecnología de punta y constante capacitación a nuestro capital humano.</p>
            </div>
        </div>
    </section>


</body>
</html>



