<!-- Footer -->
    <footer class="text-white text-center py-4 footerBG">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>Cotiza ya lo que necesites con una de las constructoras más importantes del país</p>
                </div>
                <div class="col-md-4">
                    <p>Agenda tu cita en línea</p>
                </div>
            </div>
        </div>
    </footer>