<!-- Header -->
    <header class="Header text-center py-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-left datosHeader">
                    <p><i class="fas fa-phone"></i> +57 170 21526</p>
                    <p><i class="fas fa-map-marker-alt"></i> Calle 86 No 112-21 OF 204</p>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/datos" class="btn btn-danger">Agendar una cita</a>
                </div>
            </div>
        </div>
    </header>